@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Open+Sans:400,400i,600,600i');

// =========================
// Colors
// =========================

// Primary
$primary: #4d1979;
$secondary: #a3a9ac;

// =========================
// Typography
// =========================

$font-condensed: 'Open Sans Condensed', sans-serif;
$font: 'Open Sans', sans-serif;

// =========================
// Layout
// =========================

$container-width: 75em;
$container-spacing: 4em;
$small: 37.5em;
$medium: 60em;
$large: 75em;
