<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ item ? item.fields.title + ' | ' + sitename : sitename }}</title>
    <meta name="description" content="{{item ? item.fields.description : ''}}">

    <!-- Open Graph information -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ item ? item.fields.title : sitename }}" />
    <meta property="og:description" content="{{ item ? item.fields.description : '' }}" />
    <if condition="item.fields.shareImage">
      <meta property="og:image" content="{{ item.fields.shareImage.fields.file.url }}" />
    </if>

    <!-- Twitter card information -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ item ? item.fields.title : sitename }}">
    <meta name="twitter:description" content="{{ item ? item.fields.description : '' }}">
    <if condition="item.fields.shareImage">
      <meta name="twitter:image" content="{{ item.fields.shareImage.fields.file.url }}" />
    </if>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">

    <link rel="stylesheet" href="/assets/style.css">
    <if condition="env === 'production'">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQ8P5HF');</script>
<!-- End Google Tag Manager -->
</if>
  </head>
  <body class="page-{{ item ? /[^/]*$/.exec(item.fields.slug) : '' }}">
    <!-- Google Tag Manager (noscript) -->
<if condition="env === 'production'"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ8P5HF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript></if>
<!-- End Google Tag Manager (noscript) -->
    <include src='../components/Header/header.html'></include>
    <main>
      <block name='content'></block>
    </main>

    <include src='../components/Footer/footer.html'></include>

    <block name='javascript'>
      <script src='/assets/main.js' defer></script>
    </block>
  </body>
</html>
